/*
    SCSS file that auto compile into css
*/
body {
  font-family: Garamond !important; }

.header-title {
  text-align: center;
  color: #AC3B61;
  margin: 20% auto;
  width: 50%; }

.main {
  display: none;
  width: 100%;
  background-color: #aaa; }
  .main .list-group {
    margin-top: 50px;
    text-align: center; }
    .main .list-group .list-group-item {
      height: 200px;
      margin-bottom: 20px; }
    .main .list-group .one {
      background-color: #123C69; }
      .main .list-group .one p {
        max-width: 30%;
        padding: 3.5% 0;
        color: bisque;
        margin: 0 auto; }
    .main .list-group .two {
      background-color: #AC3B31; }
    .main .list-group .drag {
      max-width: 20%; }
    .main .list-group .four {
      float: right; }
  .main .pic-container {
    text-align: center;
    width: 50%;
    margin: 0 auto; }
    .main .pic-container .black-ops {
      color: black;
      background-color: white;
      max-width: 100%; }

.second p {
  background-color: cornflowerblue;
  color: azure;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border: 3px solid #eee;
  height: auto; }
