/*
    SCSS file that auto compile into css
*/
body {
    font-family: Garamond !important;
}

.header-title {
    display: none;
    text-align: center;
    color: #AC3B61;
    margin: 2% auto;
    width: 50%;
}

.main {
    width: 100%;
    background-color: #aaa;
    
    .list-group {
        margin-top: 50px;
        text-align: center;
        
        .list-group-item {
            height: 200px;
            margin-bottom: 20px;
        }
        .one {
            background-color: #123C69;
            p {
                max-width: 30%;
                padding: 3.5% 0;
                color: bisque;
                margin: 0 auto;
            } 
        }
        .two {
            background-color: #AC3B31;
        }
            .drag {
                max-width: 20%;
            }
        .four {
            float: right
        }
    }
    
    .pic-container {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        
    .black-ops {
        color: black;
        background-color: white;
        max-width: 100%;
        }
    }
}

.second {
    p {
        background-color: cornflowerblue;
        color: azure;
        font-size: 18px;
        text-align: center;
        padding: 5px;
        border: 3px solid #eee;
        height: auto;
    }
}


