/*
   **************************
   * Created: May 27, 2017  *
   * Author: Thierry Mwamba *
   **************************

    SCSS file that auto compile into css
*/
body, html {
    font-family: Garamond !important;
    height: 100%;
}

.header-title {
    display: none;
    text-align: center;
    color: #AC3B61;
    margin: 2% auto;
    width: 50%;
}

.main {
    width: 100%;
    background-color: #aaa;
    
    .list-group {
        margin-top: 50px;
        text-align: center;
        height: 100%;
        overflow-x: scroll;
        
        .list-group-item {
            height: 200px;
            margin-bottom: 20px;
        }
        .one {
            background-color: #123C69;
            p {
                max-width: 30%;
                padding: 3.5% 0;
                color: bisque;
                margin: 0 auto;
            } 
        }
        .two {
            background-color: #AC3B31;
            box-shadow: 10px 5px 2px 4px rgba(0,0,0,.4);
            
            p {
                color: #888;
                font-size: 15px;
                margin-bottom: 0;
            }
        }
            .drag {
                max-width: 20%;
            }
        .four {
            float: right;
            box-shadow: 10px 5px 2px 4px rgba(0,0,0,.4);
        }
    }
    
    .pic-container {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
    
    .middle-container {
        background-color: dodgerblue;
        height: 300px;
    }
    
    .form-container {
        max-width: 30%;
        margin: 20px  auto;
        margin-bottom: 50px;
        
        input:not([type]), input[type="text"]  {
            text-align: center;
        }
    }
}


.navbar-fixed-bottom {
    .bottom-nav {
        max-width: 100%;
        text-align: center;
        padding: 20px 0;
        background-color: #000;
        color: #888;
        margin: 0 0 10px 0;
        
         ul:first-child {
                    padding-left: 0;
                }
        
        li {
            list-style-type: none;
            display: inline-block;
            min-width: 100px;
            font-size: 15px;
            font-family: Graphik web, sans-serif;
            
            .content {
                display: inline-grid;
                text-align: center;
                padding: 15px 0 5px 20%;
            
                li {
                    list-style-type: none;
                }
            }
        }
    }
    .copyrights {
        p {
            text-align: center;
        }
    }
}


